/Parking.Mobile/Parking.Mobile/Parking.Mobile.Android/bin
/Parking.Mobile/Parking.Mobile/Parking.Mobile.Android/obj
/Parking.Mobile/Parking.Mobile/Parking.Mobile/obj
/Parking.Mobile/Parking.Mobile.Application/bin
/Parking.Mobile/Parking.Mobile.Application/obj
/Parking.Mobile/Parking.Mobile.DependencyService/obj
/Parking.Mobile/Parking.Mobile.Interface/obj
