/Parking.Mobile/Parking.Mobile/Parking.Mobile.Android/bin
/Parking.Mobile/Parking.Mobile/Parking.Mobile.Android/obj
/Parking.Mobile/Parking.Mobile/Parking.Mobile/obj
/Parking.Mobile/Parking.Mobile.Application/bin
/Parking.Mobile/Parking.Mobile.Application/obj
/Parking.Mobile/Parking.Mobile.DependencyService/obj
/Parking.Mobile/Parking.Mobile.Interface/obj
/Parking.Mobile/.vs/Parking.Mobile/xs
/Parking.Mobile/.vs/Parking.Mobile/xs
/Parking.Mobile/Parking.Mobile.Common/bin
/Parking.Mobile/Parking.Mobile.Common/obj
/Parking.Mobile/Parking.Mobile.Data/bin
/Parking.Mobile/Parking.Mobile.Data/obj
/Parking.Mobile/Parking.Mobile.Entity/bin
/Parking.Mobile/Parking.Mobile.Entity/obj
/Parking.Mobile/Parking.Mobile.Interface/bin
/Parking.Mobile/Parking.Mobile/Parking.Mobile/bin
/Parking.Mobile/.vs
